*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #292929;
    font-family: 'Open Sans',sans-serif;
}
.bar-wrapper{
    max-width: 1200px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bar-group{
    height: 350px;
    width: 300px;
    margin: 50px auto;
    position: relative;
}
ul.x-axis,
ul.y-axis{
    list-style: none;
    margin: 0;
    padding: 0;
}
.x-axis{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.x-axis li{
    float: left;
    font-size: 1em;
    color: #ffffff;
    width: 100%;
}
.y-axis{
    position: absolute;
    text-align: right;
    width: 100%;
}
.y-axis li{
    border-top: 1px solid #4e5464;
    display: block;
    height: 63.25px;
    width: 100%;
}
.y-axis li span{
    display: block;
    width: 40px;
    margin: -20px 0 0 -60px;
    font-size: 1em;
    color: #ffffff;
}
.bars{
    height: 317px;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.bars-group{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
}
.bar{
    visibility: hidden;
    height: 0;
    width: 25%;
    border: 1px solid #2d2d2d;
    border-radius: 3px 3px 0 0;
    position: absolute;
    bottom: 0;
    animation: animate-height;
    animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
.bar:nth-child(2){
    left: 35%;
}
.bar:nth-child(3){
    left: 70%;
}
.bar-1{
    background-image: linear-gradient(to right, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
    animation-delay: 0.3s;
}
.bar-2{
    background-image: linear-gradient(to right, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
    animation-delay: 0.4s;
}
.bar-3{
    background-image: linear-gradient(to right, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
    animation-delay: 0.5s;
}
@keyframes animate-height {
    0%{
        height: 0;
    }
    100%{
        visibility: visible;
    }
}